body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .big-square {
    display: grid;
    grid-template-columns: repeat(3, auto);
    max-width: 80%;
    max-height: 70%;
  }
  
  .row {
    display: flex;
  }
  
  .square {
    flex-grow: 1;
    padding: 10px; /* Add padding for spacing between squares */
    background-color: lightblue;
    border: 1px solid black;
  }
  